In [1]:
import numpy as np, pandas as pd, seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
import category_encoders as ce
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score,classification_report
import matplotlib.pyplot as plt
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("new data.csv")

In [3]:
df.head(10)

               Place Name  Latitude  Longitude     Interest
0               Taj Mahal   27.1751    78.0421   Historical
1      Jaipur City Palace   26.9124    75.7873   Historical
2               Goa Beach   15.2993    74.1240        Beach
3       Kerala Backwaters    9.4981    76.3388       Scenic
4               Rishikesh   30.0866    78.2676    Adventure
5               Agra Fort   27.1767    78.0218   Historical
6           Mysore Palace   12.3051    76.6551     Cultural
7          Varanasi Ghats   25.3176    83.0058    Spiritual
8        Jaisalmer Desert   26.9157    70.9083    Adventure
9  Darjeeling Tea Gardens   27.0360    88.2627       Scenic

In [4]:
df.shape

(649, 4)

In [5]:
df["Interest"]

0       Historical
1       Historical
2            Beach
3           Scenic
4        Adventure
          ...
644      Religious
645         Museum
646      Religious
647          Beach
648           Park
Name: Interest, Length: 649, dtype: object

In [6]:
df["Latitude"]

0      27.1751
1      26.9124
2      15.2993
3       9.4981
4      30.0866
        ...
644    30.1146
645    25.5995
646    24.8534
647    15.5549
648    18.5055
Name: Latitude, Length: 649, dtype: float64

In [7]:
df["Longitude"]

0      78.0421
1      75.7873
2      74.1240
3      76.3388
4      78.2676
        ...
644    78.3145
645    91.8687
646    79.9232
647    73.7512
648    73.8561
Name: Longitude, Length: 649, dtype: float64

In [8]:
df["Place Name"]

0                          Taj Mahal
1                 Jaipur City Palace
2                          Goa Beach
3                  Kerala Backwaters
4                          Rishikesh
                   ...
644           Rishikesh Triveni Ghat
645        Shillong Don Bosco Museum
646    Khajuraho Parshvanatha Temple
647              Goa Calangute Beach
648                  Pune Saras Baug
Name: Place Name, Length: 649, dtype: object

In [9]:
df.isnull().sum()

Place Name    0
Latitude      0
Longitude     0
Interest      0
dtype: int64

In [10]:
df["Interest"].unique()

array([' Historical', ' Beach', ' Scenic', ' Adventure', ' Cultural',
       ' Spiritual', ' Shopping', ' Wildlife', ' Desert', ' Hill Station',
       ' Trekking', ' Waterfall', ' Cityscape', ' Religious', ' Nature',
       ' Food and Wine', ' Art and Culture', ' Geological', ' Nightlife',
       ' Recreation', ' Science and Technology', ' Architecture',
       ' Museum', ' Gardens', ' Sports', ' Library', ' Amusement Park',
       ' Park', ' Plantation', ' Entertainment', ' Dam', ' Village',
       ' Educational', ' Zoo', ' Memorial', ' Hot Springs'], dtype=object)

In [11]:
df["Interest"].nunique()

36

In [12]:
# le = LabelEncoder()
# le.fit(df["Interest"])

In [13]:
# df["Interest_label"] = le.transform(df["Interest"])

In [14]:
df

                        Place Name  Latitude  Longitude     Interest
0                        Taj Mahal   27.1751    78.0421   Historical
1               Jaipur City Palace   26.9124    75.7873   Historical
2                        Goa Beach   15.2993    74.1240        Beach
3                Kerala Backwaters    9.4981    76.3388       Scenic
4                        Rishikesh   30.0866    78.2676    Adventure
..                             ...       ...        ...          ...
644         Rishikesh Triveni Ghat   30.1146    78.3145    Religious
645      Shillong Don Bosco Museum   25.5995    91.8687       Museum
646  Khajuraho Parshvanatha Temple   24.8534    79.9232    Religious
647            Goa Calangute Beach   15.5549    73.7512        Beach
648                Pune Saras Baug   18.5055    73.8561         Park

[649 rows x 4 columns]

In [15]:
df["Place Name"].str.lower()

0                          taj mahal
1                 jaipur city palace
2                          goa beach
3                  kerala backwaters
4                          rishikesh
                   ...
644           rishikesh triveni ghat
645        shillong don bosco museum
646    khajuraho parshvanatha temple
647              goa calangute beach
648                  pune saras baug
Name: Place Name, Length: 649, dtype: object

In [16]:
df["Interest"] = df["Interest"].str.lower()

In [17]:
# x_train,x_test,y_train,y_test = train_test_split(df["Place Name"],df["Interest"],test_size=0.3,random_state=42)

In [18]:
# vec = CountVectorizer()
# vec_tfidf = TfidfVectorizer()
# # x_train_vec = vec.fit_transform(x_train)
# # x_test_vec = vec.fit_transform(x_test)
# # x_vec = vec.fit_transform(df["Interest"])
# x_train_tfidf = vec.fit_transform(x_train)
# x_test_tfidf = vec.transform(x_test)

In [19]:
# model = make_pipeline(CountVectorizer(), MultinomialNB())
# model1 = make_pipeline(CountVectorizer(), LogisticRegression())

In [20]:
# model.fit(x_train,y_train)

In [21]:
# prediction = model.predict(x_test)

In [22]:
# accuracy_score(y_test,prediction)

In [23]:
# model1.fit(x_train,y_train)

In [24]:
# pred = model1.predict(x_test)

In [25]:
# accuracy_score(y_test,pred)

In [26]:
data = df
def find_place(interest):
    interest = interest.lower().strip()
    data['Interest'] = data['Interest'].str.lower().str.strip()

        # Filter the dataset based on the given interest
    filtered_data = data[data['Interest'] == interest]

        # Extract the list of places
    places = filtered_data['Place Name'].tolist()
#     print(places)
    return places

In [27]:
for i in df["Interest"].unique():
    print(i)
inp = input("\nenter a interest from the given list: ")
result = find_place(inp)
print("\nThe places which are related to your interest are: \n")
for i in result:
    print(i)
print("\ntotal number of places found: ",len(result))

 historical
 beach
 scenic
 adventure
 cultural
 spiritual
 shopping
 wildlife
 desert
 hill station
 trekking
 waterfall
 cityscape
 religious
 nature
 food and wine
 art and culture
 geological
 nightlife
 recreation
 science and technology
 architecture
 museum
 gardens
 sports
 library
 amusement park
 park
 plantation
 entertainment
 dam
 village
 educational
 zoo
 memorial
 hot springs

The places which are related to your interest are:

Goa Beach
Kovalam Beach
Andaman Islands
Puducherry Beach
Puri Beach
Havelock Island
Gokarna Beach
Varkala Beach
Palolem Beach
Tarkarli Beach
Kovalam Lighthouse Beach
Digha Beach
Marari Beach
Alibaug
Daman and Diu
Chandipur Beach
Mandvi Beach
Udupi Malpe Beach
Daman and Diu Jampore Beach
Digha New Digha Sea Beach
Kochi Cherai Beach
Goa Anjuna Beach
Goa Baga Beach
Goa Calangute Beach
Goa Colva Beach
Pondicherry Serenity Beach
Goa Betalbatim Beach
Goa Vagator Beach
Goa Butterfly Beach
Goa Palolem Beach
Pondicherry Paradise Beach
Goa Anjuna Beach
Goa Calangute Beach

total number of places found:  33